/* app/country/Country.module.css */
.container {
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .select {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .chartContainer {
    margin: 20px 0;
    width: 100%; /* Make sure it takes full width */
    height: 400px; /* Set a fixed height */
  }
  